     .info{
        background-color: rgb(91, 125, 132);
        width: 304px;
        margin-top: 2%;
         margin-left: 30%; 
    }
    .info input{
        height: 34px;
        width: 300px;
        background-color: rgb(138, 175, 199);
        border: none;
    }
    
    .info label{
        color: rgb(40, 16, 16);
    } 
    .contact h1{
        /* margin-left: 3%; */
        text-align: center;
    }
    .con{
        font-size: xx-large;
        font-weight: 600;
        text-align: center;
        background-color: rgb(115, 168, 185);
        color:white;
    }
    .btn {
        margin-left: 40%;
        margin-top: 1.5%;
    }
    .btn button{
    border-radius: 45%;
    background-color: #6abae5;
    }

.contact{background-color: rgb(204, 223, 228);
    height: 500px;
    
   
}
.contact img{
    position: absolute;
    top:15%;
    margin-left: 63%; 
}


