     .info{
        background-color: rgb(236, 214, 180);
        width: 304px;
        margin-top: 2%;
        margin-left: 40%;
    }
    .info input{
        height: 34px;
        width: 300px;
        background-color: rgb(203, 154, 108);
        border: none;
    }
    
    .info label{
        color: rgb(40, 16, 16);
    } 
    .contact h1{
        /* margin-left: 3%; */
        text-align: center;
    }
    .con{
        font-size: xx-large;
        font-weight: 600;
        text-align: center;
        background-color: rgb(206, 146, 90);
        color:white;
    }
    .btn {
        margin-left: 40%;
        margin-top: 1.5%;
    }
    .btn button{
    border-radius: 45%;
    background-color: rgb(229, 180, 106);
    }

.contact{background-color: rgb(252, 223, 188);
    height: 500px;
}
