.main{
    background-color:rgb(232, 235, 235) ;
    padding-bottom:3%;
}
.heading{
    
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    background-color: rgb(122, 173, 188);
    color:white;
}
.heading h1{
    color: azure;
    font-size: 20px;
    
}
.firstrow{
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    text-align: center;
    margin-top: 5%;
}
 .box1{
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px;
    width: 300px;

}
.box2{
    
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px;
    width: 300px;

} 
.box3{
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px;
    width: 300px;

}

.secondrow{
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    text-align: center; 
    margin-top: 6%; 
}
.box4{
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px;
    width: 300px;
}
.box5{
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px;
    width: 300px;
}
.box6{
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px;
    width: 300px;
}
.box1 img{
    height: 130px;
    width: 200px;
}
.box2 img{
    height: 130px;
    width: 200px; 
}
.box3 img{
    height: 130px;
    width: 200px; 
}  
.box4 img{
    height: 130px;
    width: 200px;   
}
.box5 img{
    height: 130px;
    width: 200px; 
}
.box6 img{
    height: 130px;
    width: 200px;
}